<h1>Mes listes:</h1>

<div class="card d-flex inline-block m-3 p-3">
<% @lists.each do |list|  %>
<div class="card-trip">
  <img src='<%= cl_image_tag(list.photo.key) if list.photo.attached? %>'>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to list.name , list_path(list) %></h2>

    </div>
  </div>
</div>
<% end %>
</div>



<%= link_to 'add new list', new_list_path %>
