<h1><%= @list.name %></h1>
<h1><% @bookmarks.each do |bookmark| %></h1>
  <%= bookmark.movie.title %>
<% end  %>
<%= link_to 'back to list', lists_path %>
<%= link_to 'Create Bookmark', new_list_bookmark_path(@list) %>
